
.contactCard {
    width: 320px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 8px;
    align-items: center;
    overflow: hidden;
  }
  
  .contactInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 500;
  }
  
  .contactName {
    display: flex;
  }
  
  .contactPhone {
    display: flex;
  }
  
  svg {
    margin-right: 12px;
    width: 24px;
    height: 24px;
  }
  
  .textStyle {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .deleteButton {
    background-color: red;
  }
  
  .deleteButton:hover {
    background-color: darkred;
  }
  
  .tooltip {
    cursor: pointer;
  }
  